
# Vscode
.vscode/*
!.vscode/code.code-workspace
!.vscode/launch.json

# Node
node_modules

# Turborepo
.turbo

# Others
.DS_Store
*.log

# Generated code
dist
node_modules
coverage

# Random things
packages/my-app